.about {
    background-color: var(--bg-main-grey);
    text-align: center;
    padding: 60px 30px 100px 30px;
    color: var(--color-black);
}

.about-title {
    font-size: 34px;
    font-weight: 700;
    margin: 0 auto 42px auto;

}

.about-subtitles-ru, .about-subtitles-en {

    font-size: 18px;
    font-weight: 500;
    margin: 0 auto 15px auto;
    max-width: 780px;
}

.about-description-ru, .about-description-en {
font-size: 18px;
    font-weight: 500;
    margin: 0 auto 15px auto;
    text-align: justify;
    max-width: 780px;
}

.about-subtitles-en {
    margin: 15px auto 15px auto;
}

.about-description-en {
    margin: 0 auto 15px auto;

}

@media (max-width: 460px) {

    .about-subtitles-ru, .about-subtitles-en, .about-description-ru, .about-description-en 
    {    font-size: 14px;
    }



}



